@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    background-color: #0d1a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: "Outfit";
}

.card {
    height: auto;
    width: 275px;
    background-color: #15273f;
    border-radius: 14px;
    box-shadow:   -10px 10px 10px #0c1729,   /* left */
    10px 10px 10px #0c1729,   /* right */
    0 26px 10px #0c1729;   /* bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrap {
    background-color: #0c192c;
    height: 520px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.card-top {
    width: 240px;
    height: 240px;
    padding-top: 18px;
}

.card-top img {
    object-fit: cover;
    width: 100%;
    border-radius: 6px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-right: 18px;
}

/* Bottom */

.img1, .img2 {
    padding-top: 12px;
}

.bottom-row, .bottom-left, .bottom-right {
    display: flex;
}

.bottom-row {
    justify-content: space-between;
}

.bottom-left, .bottom-right {
    gap: 6px;
}

.bottom-row p {
    font-size: 13px;
}

.body-part1 {
    flex: 2;
}

.p-light {
    color:  hsl(215, 51%, 70%);
    font-size: 15px;
}

.p-turquoise {
    color: hsl(178, 100%, 50%);
}

.body-part2 {
    display:flex;
    border-top: 1px solid hsl(215, 32%, 27%);
    flex: 1;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color: white;
}

.copyright {
    font-size: 13px;
    color:  hsl(215, 51%, 70%);
}

.copyright span {
    color: white;
}

.user-icon img {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}